/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body{
  margin: 0px;
  background-color:#F5F5F5;
}

header{
  height: 500px;
  background-color:#3400FF;
}

nav{
  float: right;
  margin-right: 40px;
  margin-top: 15px;

}

.nav-item{
  margin-right: 15px;
  color: #F5F5F5;
}

.nav-item-active{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #5A31FC;
    font-weight: 400;
    margin-right: 20px;
}

.logo{
  margin: 40px;
}

.header-text{
    color: #fff;
   margin-left: 40px;
    margin-top: 40px;
    float: left;
    line-height: 50px;

}

.header-text h2{
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.header-text p{
  padding: 0;
  margin: 0px 0px;
}

.header-image{
    float: right;
}

.companies{
  margin-top:30px;
}
.company-items{
  text-decoration: none;
  margin-left: 40px;
  color: black;
  font-weight:500;
  font-size: 24px;
  font-family: 'Righteous' , sans-serif;
}

/* API SECTION */
.api{
  font-weight: 800;
  margin-left: 40px;
  color: #1d1d1d;
  font-style: bold;
}

.cards{
  display: flex;
}

.card{
  width:20%;
  height:225px;
  background-color: transparent;
  margin-right: 30px;
  margin-bottom: 30px ;
}
.card-active{
    width: 20%;
    height: 250px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
}
.card-head-active{
  color:#5a31fc;
  margin-left: 30px;
}
.card-logo{
  margin-left: 30px;
  margin-top:30px;
}
.card-head{
  margin-left:30px;
}
.card-body{
  margin-left: 30px;
  font-size: 12px;
}

.blog-heading{
  font-weight: 800;
  margin-left: 40px;
  color: #1d1d1d;
  font-style: bolder;
}

.blog-cards{
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
  
}
.blog-card{
 float: left;
 width: 50%;
 height: 290px;
 margin-right: 60px;
 background-color: white;
 border-radius:48px 12px 12px 12px;
 box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.blog-image{
  float: left;

}

.blog-content{
  float: left;
  margin-left:30px;
  line-height: 18px;
}
.blog-bottom{
  margin-top:260px;
  margin-left:310px;
}




.blog-card-bottom-image{
  border-radius:50px;
}

 .blog-author>b{
  position: absolute;
  font-size: 12px;
  top:1390px;
} 
.blog-cards div:first-child .blog-author b{

  left:410px;

}
.blog-cards div:last-child .blog-author b{
  left:1060px;

}

.blog-content h6{
  color: #3400ff;
}





/* FAQ SECTION */
.faq-section{
  margin-top:80px;
  height: 323px;
  background-color: #E9EDFF;

}

.faq-content{
  float: left;
  margin-left: 40px;
}

.faq-image{
  float:right;
}

.faq-content h2{
  font-size: 28px;
  font-weight: bolder;
}

.faq-content>h4{
  font-size: 12px;
}
.faq-content>h4+h4{
  font-size: 16px;
}

.faq-content button{
  padding: 10px 15px;
  border-radius: 4px;
  border-style: none;
  background-color: #3400ff;
  color: #fff;
  font-size: 11px;
}


.download-section{
  height: 200px;
  width: 90%;
  margin-top: 10px;

}
.download-content{
  margin-left: 40px;
  float: left;
}

.download-content h1{
  font-weight: bolder;
}
.download-content span{
  font-weight: lighter;
}

.download-email{
  display: flex;
  margin-right: 170px;
  margin-top: 90px;
  margin-left: 690px;
}
form {
    
    display: flex;
    height: 40px;
    border:2px solid grey;
    border-radius: 22px;
    padding:2px;
    background-color: #E9EDFF;
    margin-top: 10px;


  }
input{
  width: 400px;
  background-color: transparent;
  text-align: center;
  border: none;
}
input:focus{
  outline: none;
}

button{
  background-color: #3400FF;
  color: #fff;
  border: none;
  padding: 5px 25px;
  border-radius: 45px;
  text-transform: uppercase;
}

.footer-section{
  background-color: #3400FF;
  height: 225px;
  display: flex;
  
}

.footer-left{
  margin-bottom: 0;
  float: left;
}
.footer-logo{
  height: 40px;
  margin-top: 60px;
  margin-left: 40px;
}
.list{
  list-style: none;
  display: flex;
  margin-left: 0px;
}

.list-items{
    display: flex;
    list-style-type: none;
    color: white;
    font-size: 11px;
    margin-right: 13px;
    border-right: 1px solid white;
    padding:0 4px 0 0;
 
}


.footer-right{
  margin-left: 350px;
  margin-top: 35px;
  margin-right: 60px;

}

.footer-logos{
    margin-left: 20px;
}

.logos-list{
  display: flex; 
  margin-left:330px;
 
}

.logos-list .list-items{
  margin-left: 10px;
  border-right: 1px solid white;
  padding: 0 10px 0 0;

}


@media screen and (max-width:720px) {
.nav-item{
display: none;
}

.logo{

}

.nav-item-active{
    display: none;
}


.header-text{
  color: #fff;
  margin-top: 10px;
 

}

.header-text h2{
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 1px;
}
.header-text p{
  padding: 0;
  margin: 0px 0px;
}

.header-image{
    float: right;
}

.companies{
  margin-top:30px;
}
.company-items{
  text-decoration: none;
  margin-left: 40px;
  color: black;
  font-weight:500;
  font-size: 24px;
  font-family: 'Righteous' , sans-serif;
}

/* API SECTION */
.api{
  font-weight: 800;
  margin-left: 40px;
  color: #1d1d1d;
  font-style: bold;
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width:40%;
  height:225px;
  
}
.card-active{
    width: 40%;
    height: 250px;
    
}


.blog-cards{
  margin-left: 1px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.blog-card{
 display:flex;
 width: 66%;
 height: 508px;
 margin-left: 8px;
 margin-bottom: 78px;
 flex-direction: column;
}

.blog-card-bottom-image
{
  display: none;
}


.blog-author>b{
display: none;
} 




/* FAQ SECTION */
.faq-section{
  margin-top:10px;
  height: 323px;
  background-color: #E9EDFF;

}

.faq-content{
  float: left;
  margin-left: 10px;
}

.faq-content>h4+h4{
  font-size: 16px;
}


.download-section{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 90%;
  margin-top: 10px;

}
.download-content{
  margin-left: 10px;
}
.download-email{
  display: flex;
  margin-right: 10px;
  margin-top: 0px;
  margin-left: 10px;
  width: 20%;
}
form {
    
    display: flex;
    height: 40px;
    border:2px solid grey;
    border-radius: 22px;
    padding:2px;
    background-color: #E9EDFF;
    margin-top: 10px;


  }
input{
  width: 160px;
  background-color: transparent;
  text-align: center;
  border: none;
  font-size: 10px;
}
input:focus{
  outline: none;
}

button{
  padding: 3px 10px;
}

.footer-section{
  height: 225px;
  display: flex;
  flex-direction: column;
  
}
.footer-logo{
  height: 40px;
  margin-top: 30px;
  margin-left: 10px;
}
.list-items{

    margin-right: 3px;

}


.footer-right{
  margin-left:10px;
  margin-top:5px;
  margin-right:0px;

}

.footer-logos{
    margin-left: 30px;
}

.logos-list{
  display: flex; 
  margin-left:0px;
 
}

.logos-list .list-items{
  margin-left: 10px;
  padding: 0 5px 0 0;

}
  
}






